pkgbase = linux-phicomm-n1
	pkgver = 5.2.11
	pkgrel = 4
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = vboot-utils
	makedepends = dtc
	depends = uboot-tools
	options = !strip
	source = http://www.kernel.org/pub/linux/kernel/v5.x/linux-5.2.tar.xz
	source = http://www.kernel.org/pub/linux/kernel/v5.x/patch-5.2.11.xz
	source = meson-gxl-s905d-phicomm-n1.dts
	source = config
	source = linux.preset
	source = 60-linux.hook
	source = 90-linux.hook
	md5sums = ddf994de00d7b18395886dd9b30b9262
	md5sums = 44dfa2755410b72ee660fa29bfb15af1
	md5sums = caa2dbc19116d818e6d0d46baeca961b
	md5sums = aa697ec98d7e2016a85fb4c237559794
	md5sums = 66e0ae63183426b28c0ec0c7e10b5e16
	md5sums = ce6c81ad1ad1f8b333fd6077d47abdaf
	md5sums = bdeb5fb852fd92b4e76b4796db500dd4

pkgname = linux-phicomm-n1

pkgname = linux-phicomm-n1-headers

